# Ignore all __pycache__ folders
**/__pycache__/

#Ignore compiled python files 
*.py[cod]
*$py.class

#Ignore local config files
.config.json

#Ignore results and datasets
**/data/
**/midtrain_viz/
**/midval_viz/
